<nav class="navbar navbar-expand-sm navbar-dark bg-dark l-header">
  <a class="navbar-brand l-header__brand" routerLink="/">
    <img src="/assets/images/logo.png" alt="Sticky notes logo" height="50px" style="filter: invert(100%);">
    <span class="ml-3">Sticky!</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navDropDownMenu"
    aria-controls="navDropDownMenu" aria-label="Toggle navigation" [attr.aria-expanded]="!isCollapsed"
    (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="isUserPresent" class="collapse navbar-collapse justify-content-end" id="navDropDownMenu"
    [ngClass]="{'show': !isCollapsed}">
    <ul class="navbar-nav l-header__navbar">
      <li class="nav-item" (click)="isCollapsed = true;">
        <a class="nav-link" routerLink="user/dashboard" routerLinkActive="active">Dashboards</a>
      </li>
      <li class="nav-item" (click)="isCollapsed = true;">
        <a class="nav-link" routerLink="user/profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item" (click)="isCollapsed = true;">
        <a class="nav-link" routerLink="user/settings" routerLinkActive="active">Settings</a>
      </li>
      <li class="dropdown-divider"></li>
      <li class="nav-item">
        <a class="nav-link" (click)="signOut()">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>