<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
      <div class="l-login c-form">
        <ul class="l-login__tab-group">
          <li class="l-login__tab" (click)="showLogin = true" [ngClass]="{'active': showLogin}"><span>Log In</span></li>
          <li class="l-login__tab" (click)="showLogin = false" [ngClass]="{'active': !showLogin}"><span>Sign Up</span>
          </li>
        </ul>

        <div *ngIf="showLogin">
          <form [formGroup]="signInForm" (ngSubmit)="signIn()">
            <div class="l-login__field-wrap">
              <label class="l-login__label">Email</label>
              <input class="form-control l-login__input" formControlName="email" type="email" id="signInEmail"
                aria-describedby="email" autocomplete="off" (keyup)="moveLabel($event)"
                [ngClass]="{ 'is-invalid': signInEmail.errors && signInEmail.dirty }" />
            </div>
            <div class="l-login__field-wrap">
              <label class="l-login__label">Password</label>
              <input class="form-control l-login__input" formControlName="password" type="password" id="signInPassword"
                autocomplete="off" (keyup)="moveLabel($event)"
                [ngClass]="{ 'is-invalid': signInPassword.errors && signInPassword.dirty }" />
            </div>
            <button type="submit" class="l-login__button">Log In</button>
          </form>
        </div>

        <div *ngIf="!showLogin">
          <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="l-login__field-wrap">
              <label class="l-login__label">Email</label>
              <input class="form-control l-login__input" formControlName="email" type="email" id="signUpEmail"
                aria-describedby="email" autocomplete="off" (keyup)="moveLabel($event)"
                [ngClass]="{ 'is-invalid': signUpEmail.errors && signUpEmail.dirty }" />
            </div>
            <div class="l-login__field-wrap">
              <label class="l-login__label">Password</label>
              <input class="form-control l-login__input" formControlName="password" type="password" id="signUpPassword"
                autocomplete="off" (keyup)="moveLabel($event)"
                [ngClass]="{ 'is-invalid': signUpPassword.errors && signUpPassword.dirty }" />
            </div>
            <div class="l-login__field-wrap">
              <label class="l-login__label">Confirm Password</label>
              <input class="form-control l-login__input" formControlName="confirmPassword" type="password"
                id="signUpConfirmPassword" autocomplete="off" (keyup)="moveLabel($event)"
                [ngClass]="{ 'is-invalid': signUpConfirmPassword.errors && signUpConfirmPassword.dirty }" />
            </div>
            <button type="submit" class="l-login__button">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>